<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.start.member.mapper.MemberMapper">

	<select id="selectMember" resultType="com.start.member.dto.MemberDTO">
		SELECT 
			MEM_ID
			,MEM_NM
			,GRADE
			,REG_DATE
			,CHG_DATE
		FROM
			MEMBER_INFO
	</select>
	
	<select id="findById" resultType="com.start.member.dto.MemberDTO" parameterType='long'>
		SELECT 
			*
		FROM
			MEMBER_INFO
	   WHERE MEM_ID = #{memId}
	</select>
	
	<insert id="insertMemberInfo" parameterType="com.start.member.dto.MemberDTO">
		INSERT INTO
			MEMBER_INFO(
				MNO
				,USERNAME
				,MEM_NM
				,GRADE
			)VALUES(
				MEMBER_SEQ.NEXTVAL
				,#{username}
				,#{memNm}
				,#{grade}
			)
	</insert>

</mapper>